* {
    margin: 0;
    padding: 0;
}
/* 清除浮动 */
.clearfix::before, .clearfix::after{
    content: " ";
    display: table;

}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

.container {
    padding: 20px 160px 20px 240px;
    margin: 20px;
    background-color: #eee;
    border: 1px solid #000000;
}

.container .main,
.container .left,
.container .right {
    background-color: #ffffff;
    border: 1px solid #000000;
    position: relative;
    float: left;
}

.container .main {  
    padding: 20px;
}
.container .left{
    width: 158px;
    padding: 20px;
    margin-left: -100%;
    left: -220px;
}
.container .right{
    width: 120px;
    margin-left: -122px;
    right: -140px;   
}
.container .left .logo, .container .right .logo {
    width: 80px;
    height: 80px;
    display: block;
}

.container .right .logo {
    margin: 20px;
}

.container .left .logo {
    margin-right: 20px;
    float: left;
}
