* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #dedede;

}

/* 清楚浮动micro clearfix */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* 顶部导航栏 */

nav {
    width: 100%;
    height: 60px;
    background-color: #333;
    
}

nav .nav-logo {
    float: left;
    height: 35px;
    line-height: 60px;
    margin-top: 12.5px;
    margin-left: 30px;
}

nav ul li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}
nav ul li a{
    color: #ffffff;
    text-decoration: none;
    line-height: 60px;
}


/* 文章块 */
.my-content,.my-pic{
    margin: 20px;
    padding: 30px 20px;
    background-color: #ffffff;

}
.my-content h2,h3,h4,p{
    line-height: 2;
}
.my-content h3,h4{
    color: #999;
}
/* 缩进 */
.text-indent{
    text-indent: 2em;
}